## 1. Apply the data preprocessing techniques you learned here to Cornell Movie--Dialogs Corpus data. You'll be using this dataset when developing a chatbot in a later checkpoint.

In [0]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import nltk
import spacy
import re

from collections import Counter

import warnings
warnings.filterwarnings(action="ignore")
%matplotlib inline

In [0]:
# load the data from the Thinkful PostgreSql database using our credentials.

postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'cornell_movie_dialogs'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))
cornell = pd.read_sql_query('select * from dialogs',con=engine)

# no need for an open connection, as we're only doing a single query
engine.dispose()

cornell.head(10)

   index                                            dialogs
0      0  Can we make this quick?  Roxanne Korrine and A...
1      1  Well, I thought we'd start with pronunciation,...
2      2  Not the hacking and gagging and spitting part....
3      3  Okay... then how 'bout we try out some French ...
4      4  You're asking me out.  That's so cute. What's ...
5      5                                         Forget it.
6      6  No, no, it's my fault -- we didn't have a prop...
7      7                                           Cameron.
8      8  The thing is, Cameron -- I'm at the mercy of a...
9      9     Seems like she could get a date easy enough...

In [0]:
nlp = spacy.load('en', disable=['parser', 'ner']) #NER = named entity recognition

# set max length to avoid SpaCy memory error
nlp.max_length = 20000000

# process document using nlp tokenizer
# combine with .join method for acceptance

cornell_doc = nlp(" ".join(cornell.dialogs))

In [0]:
# let's explore the objects we've built.
print("The cornell_doc object is a {} object.".format(type(cornell_doc)))
print("It is {} tokens long".format(len(cornell_doc)))
print("The first three tokens are '{}'".format(cornell_doc[:3]))
print("The type of each token is {}".format(type(cornell_doc[0])))

NameError: ignored

In [0]:
cornell_without_stopwords = [token for token in cornell_doc if not token.is_stop]

NameError: ignored

In [0]:
lemms = [token.lemma_ for token in cornell_without_stopwords]

NameError: ignored

In [0]:
# utility function to calculate how frequently words appear in the text
def word_frequencies(text):
    
    # build a list of words
    # strip out punctuation
    words = []
    for token in text:
        if not token.is_punct:
            words.append(token.text)
            
    # build and return a Counter object containing word counts
    return Counter(words)

# instantiate our list of most common words.
cornell_word_freq = word_frequencies(cornell_without_stopwords).most_common(10)
print('\nCornell:', cornell_word_freq)

NameError: ignored

In [0]:
# optional viz
import seaborn as sns # seaaabornnnnnn (O_%);;

cornell_word_freq.value_counts().sort_values()

# countplot

sns.countplot(cornell_word_freq)

cornell_word_freq.plot(kind='barh')



---



---

2. Apply the data preprocessing techniques you learned here to Twitter US Airline Sentiment data. You'll be using this dataset when generating sentences in a later checkpoint.

In [0]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'twitter_sentiment'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

tweets = pd.read_sql_query('select * from twitter',con=engine)

# no need for an open connection, as we're only doing a single query
engine.dispose()


tweets.head(5)

   index            tweet_id  ... tweet_location               user_timezone
0      0  570306133677760513  ...           None  Eastern Time (US & Canada)
1      1  570301130888122368  ...           None  Pacific Time (US & Canada)
2      2  570301083672813571  ...      Lets Play  Central Time (US & Canada)
3      3  570301031407624196  ...           None  Pacific Time (US & Canada)
4      4  570300817074462722  ...           None  Pacific Time (US & Canada)

[5 rows x 16 columns]

In [0]:
nlp = spacy.load('en', disable=['parser', 'ner']) #NER = named entity recognition

# set max length to avoid SpaCy memory error
nlp.max_length = 20000000

# process document using nlp tokenizer
# combine with .join method for acceptance
# use .text attribute


twitter_doc = nlp(" ".join(tweets.text))

In [0]:
# let's explore the objects we've built.
print("The twitter_doc object is a {} object.".format(type(twitter_doc)))
print("It is {} tokens long".format(len(twitter_doc)))
print("The first three tokens are '{}'".format(twitter_doc[:3]))
print("The type of each token is {}".format(type(twitter_doc[0])))

The twitter_doc object is a <class 'spacy.tokens.doc.Doc'> object.
It is 307258 tokens long
The first three tokens are '@VirginAmerica What @dhepburn'
The type of each token is <class 'spacy.tokens.token.Token'>

In [0]:
# removing the stopwords
tweets_without_stopwords = [token for token in twitter_doc if not token.is_stop]

# lemmatization
lemmas = [token.lemma_ for token in tweets_without_stopwords]

additionally you could splice these together im sure but it's not on the to-do list